* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: #c1f79f;
    width: 250px;
    padding: 24px;
}

#main-content {
    flex: 1; 
    padding: 48px;
}

#main-content {
    display: inline-block;
}