/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 5px solid black;
    border-radius: 30px;
    padding: 24px;
}

#left-side {
    display: inline-block;
    width: 65%;
}

#right-side {
    display: inline-block;
    width: 34%;
    text-align: right;
}

#id-and-expiration div{
    display: inline-block;
}

#small-pic-container img {
    width: 90px;
}

#data-fields {
    display: inline-block;
}

#data-left,
#data-right {
    display: inline-block;
}

#signature {
    text-align: center;
}

#right-side img {
    width: 100%;
}

#donor,
#real-id {
    display: inline-block;
}

h1 {
    color: blue;
}
#left-side h4 {
    display: inline-block;
    background-color: rgb(1, 1, 184);
    color: white;
    padding: 10px 100px;
    margin-top: -10px;
}

div span {
    color: red;
}
#id-and-expiration {
    color: blue;
    padding: 20px;
}

#address {
    font-weight: bold;
    margin-bottom: 10px;
}

div span {
    color: red;
    font-weight: bold;
}

#data-left {
    color: blue;
    text-align: left;
    margin-left: 10px;
}

#data-right {
    color: blue;
    margin-left: 10px;
}

#donor {
    color: red
}

#signature {
    font-family: "Imperial Script", cursive;
    font-weight: 800;
    font-style: normal;
}
    

#data-fields,
#data-left {
    display: inline-block;
}
#small-pic-container {
    display: inline-block;
}